@import "tailwindcss";

body {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    background-color: #ececec;
}

h1 {
    font-size: 22px;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

a {
    font-size: 16px;
    font-weight: 600;
}

li {
    list-style: none;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(200, 200, 200, 0.5);
    margin: 20px 0px 20px 0px;
}

select, option, textarea:focus {
    outline: none;
}

textarea {
    resize: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 10px;
    background-color: rgba(234, 234, 234, 0.368);
    border: none;
    color:#3b3b3b;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
}

.Header {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 30px 0px 30px 0px;
    margin-bottom: 20px;
}
.Header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-buttons {
    display: flex;
    align-items: center;
}

.category-link {
    padding: 15px 12px 15px 12px;
    border-radius: 10px;
    transition: ease-in 0.15s;
    margin-bottom: 10px;
    background-color: rgba(234, 234, 234, 0.368);
    color: rgb(97, 143, 144);
    font-weight: 600;
}

.category-link:hover {
    background-color: rgb(176, 56, 80);
    color: aliceblue;
}

.category-link.active {
    background-color: rgb(176, 56, 80);
    color: aliceblue;
}

.category-sidebar {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-item {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: calc(50vh - 250px);
}

.simple-link {
    display: inline-block;
    color: crimson;
    font-weight: 700;
    /* text-decoration: underline 1px; */
}

.simple-link:hover {
    color: rgb(236, 69, 69);
}

.text-profile {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 8px;
}
.user-post {
    padding: 15px 12px 15px 12px;
    border-radius: 10px;
    transition: ease-in 0.15s;
    margin-bottom: 10px;
    background-color: rgba(234, 234, 234, 0.368);
    color: rgb(118, 123, 123);
    font-weight: 600;
}

.category-select {
    background-color: rgba(234, 234, 234, 0.368);
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(151, 178, 179);
    width: 100%;
}

.category-select option {
    background-color: #fff;
    color: #333;
    font-weight: 600;
}

.description-textarea {
    width: 100%;
    height: 270px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgba(234, 234, 234, 0.368);
    font-weight: 600;
    font-size: 14px;
    color: #333;
}